.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.input-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}
.input-field {
  font-family: inherit;
  width: 100%;
  background-color: #ffaf00;

  border: none;
  outline: none;

  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1.02rem;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}
.grid-full {
  grid-column: span 2;
}
input[type="radio"],
input[type="checkbox"] {
  scale: 1.5;
  accent-color: #ffaf00;
}
.submit-btn-container {
  margin-top: 1rem;
  text-align: center;
}
input[type="submit"] {
  padding: 0.5rem 4rem;

  border: none;
  outline: none;
  border-radius: 0.8rem;
  background-color: #ffaf00;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}
input[type="file"] {
  padding-block: 0.5rem;
}
