<!DOCTYPE html>
<html lang="en">
  <head data-th-replace="~{fragment :: head(~{:: link})}">
    <link rel="stylesheet" href="/css/new-book.css" />
  </head>
  <body>
    <header data-th-replace="~{fragment :: header}"></header>

    <main>
      <nav data-th-replace="~{fragment :: nav('/home','Back to home')}"></nav>

      <section>
        <form
          action="/create-update-book"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="input-container" data-th-object="${book}">
            <div>
              <label for="book-name">Book Name</label>
              <input
                type="text"
                name="bookName"
                id="book-name"
                placeholder="eg: java for beginners"
                class="input-field"
                data-th-field="*{bookName}"
              />
            </div>
            <div>
              <label for="book-author">Book Author</label>
              <input
                type="text"
                name="authorName"
                id="book-author"
                placeholder="eg: Rashmi Kanta Das"
                class="input-field"
                data-th-field="*{authorName}"
              />
            </div>
            <div>
              <label for="total-page">Total Pages</label>
              <input
                type="text"
                name="totalPage"
                id="total-page"
                placeholder="eg: 612"
                class="input-field"
                data-th-field="*{totalPage}"
              />
            </div>
            <div>
              <label for="publication-date">Publication Date</label>
              <input
                type="Date"
                name="publicationDate"
                id="publication-date"
                placeholder="eg: 12-02-1999"
                class="input-field"
                data-th-value="*{publicationDate}"
              />
            </div>
            <div class="flex-align-center-1">
              <input
                type="radio"
                name="bookFormat"
                id="paper-back"
                value="PAPERBACK"
                data-th-field="*{bookFormat}"
              />
              <label for="paper-back">Paper Back</label>

              <input
                type="radio"
                name="bookFormat"
                id="hard-cover"
                value="HARDCOVER"
                data-th-field="*{bookFormat}"
              />
              <label for="hard-cover">Hard Cover</label>
            </div>
            <div class="flex-align-center-1">
              <input
                type="checkbox"
                name="availability"
                id="amazon"
                value="Amazon"
                data-th-field="*{availability}"
              />
              <label for="amazon">Amazon</label>
              <input
                type="checkbox"
                name="availability"
                id="flipkart"
                value="Flipkart"
                data-th-field="*{availability}"
              />
              <label for="flipkart">Flipkart</label>
              <input
                type="checkbox"
                name="availability"
                id="offline"
                value="Offline"
                data-th-field="*{availability}"
              />
              <label for="offline">Offline</label>
            </div>
            <div>
              <label for="book-category">Book Category</label>
              <select
                name="category"
                id="book-category"
                class="input-field"
                data-th-field="*{category}"
              >
                <option value="technology">Technology</option>
                <option value="sports">Sports</option>
                <option value="health">Health</option>
                <option value="entertainment">Entertainment</option>
                <option value="science">Science</option>
                <option value="business">Business</option>
                <option value="education">Education</option>
                <option value="travel">Travel</option>
                <option value="food">Food</option>
                <option value="fashion">Fashion</option>
                <option value="politics">Politics</option>
                <option value="environment">Environment</option>
                <option value="finance">Finance</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="history">History</option>
                <option value="Others">Others</option>
              </select>
            </div>
            <div>
              <label for="book-image">Book Image</label>
              <input type="file" name="bookImage" id="book-image" />
            </div>
            <div class="grid-full">
              <label for="description">Book Description</label>
              <textarea
                name="description"
                id="description"
                class="input-field"
                rows="3"
                data-th-field="*{description}"
              ></textarea>
            </div>
            <input type="hidden" name="bookId" data-th-field="*{bookId}" />
          </div>

          <div class="submit-btn-container">
            <input type="submit" name="submit" id="submit" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
